﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <label>Title</label>
    <input type="text" name="Title" class="form-control" />
    <label>Description</label>
    <textarea class="form-control" name="Description"></textarea>
    <label>OS</label>
    <input type="text" name="Os" class="form-control" />
    <label>Price</label>
    <input type="number" name="Price" class="form-control" />
    <button class="btn btn-info" type="submit">Save</button>
</form>

