
@{
    ViewBag.Title = "Create";
}


<form method="post">
    <label>Title</label>
    <input type="text" name="Title" class="form-control" />
    <label>Description</label>
    <textarea class="form-control" name="Description"></textarea>
    <label>Price</label>
    <input type="number" name="Price" />

    <button class="btn btn-info" type="submit">Save</button>

</form>


